<header class="header container">
  <nav class="navbar navbar-light navbar-toggleable-xl bg-faded">
    <a class="navbar-brand" href="#">
      <img src="/images/favicon.svg" width="30" height="30" class="d-inline-block align-top" alt="kttn">
      KTTN
    </a>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link" href="/">Overview</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/new-question">Questions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Users</a>
      </li>
    </ul>
  </nav>
</header>
