<div class="container error">
  <div class="row">
    <div class="col-md-12">
      <div class="error-wrapper">
        <div class="error-block">
          <h2>Oops!</h2>
          <h1>{{ status }}</h1>
          <div class="error-details">
            Sorry, an error has occured, Requested page not found!
          </div>
          <div class="error-actions">
            <a href="/" class="btn btn-primary">
              <span class="glyphicon glyphicon-home"></span>
              Take Me Home
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
