.react-data {
  display: none;
}

.full-height {
  min-height: calc(100vh - 56px);
}

h1 {
  font-size: 50px;
  font-weight: 200;
  margin-bottom: 20px;
}

.pt-40 {
  padding-top: 40px;
}

.mt-40 {
  margin-top: 40px;
}
