<div class="container chapter pt-40">
  <h1>Chapter List</h1>
  <div class="row">
    <div class="col-12">
      <div id="react-chapter-table"></div>
    </div>
  </div>
  <div id="react-data-all-chapters" class="react-data">{{data}}</div>
  <a class="btn btn-primary mt-40" href="/new-chapter">New Chapter</a>
</div>
