<div class="container chapter pt-40">
  <div class="row">
    <div class="col-12">
      <div id="react-chapter-table"></div>
    </div>
  </div>
  <div id="react-data-all-chapters" class="react-data">{{data}}</div>
</div>
