<div class="container edit-question">
  <div>
    <h1>Edit Question</h1>
    <div id="react-edit-question-form"></div>
    <div id="react-data-a-question" class="react-data">{{ doc }}</div>
    <a href="/">Home</a>
  </div>
</div>
