<div class="container edit-question pt-40">
  <div>
    <h1 class="text-center">Edit Question</h1>
    <div id="react-edit-question-form"></div>
    <div id="react-data-a-question" class="react-data">{{ question }}</div>
    <div id="react-data-chapters" class="react-data">{{ chapters }}</div>
    <a href="/">Home</a>
  </div>
</div>
