<div class="container edit-chapter">
  <div>
    <h1 class="text-center pt-40">Edit Chapter</h1>
    <div id="react-edit-chapter-form"></div>
    <div id="react-data-a-chapter" class="react-data">{{ doc }}</div>
    <a href="/chapters">Back to Chapter list</a>
  </div>
</div>
