<div class="container home">
  <div class="row">
    <div class="col-md-12">
      <h1>Home</h1>
      <div class="pt-40">Total Chapter: {{ totalChapter }}</div>
      <div class="pt-40">Total Question: {{ totalQuestion }}</div>
    </div>
  </div>
</div>
