<div class="container home">
  <h1>All questions</h1>
  <h2>Total: {{total}}</h2>
  <div class="row">
    <div class="col-12">
      <div id="react-questions-table"></div>
    </div>
  </div>
  <div id="react-data-all-questions" class="react-data">{{data}}</div>
  <a href="/new-question">New Question</a>
</div>
