<div class="container new-question pt-40">
  <div>
    <h1 class="text-center">New Question</h1>
    <div id="react-new-question-form"></div>
    <div id="react-data-chapters" class="react-data">{{ chapters }}</div>
  </div>
</div>
