<div class="container new-chapter pt-40">
  <div>
    <h1 class="text-center">New Chapter</h1>
    <div id="react-new-chapter-form"></div>
    <a href="/chapters">Back to chapter list</a>
  </div>
</div>
