<div class="container question pt-40">
  <h1>Question List</h1>
  <div class="row">
    <div class="col-12">
      <div id="react-questions-table"></div>
    </div>
  </div>
  <div id="react-data-all-questions" class="react-data">{{ questions }}</div>
  <a class="btn btn-primary mt-40" href="/new-question">New Question</a>
</div>
