<div class="container question pt-40">
  <div class="row">
    <div class="col-12">
      <div id="react-questions-table"></div>
    </div>
  </div>
  <div id="react-data-all-questions" class="react-data">{{ questions }}</div>
</div>
