.home {
  text-align: center;
  height: calc(100vh - 112px);
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 50px;
    font-weight: 200;
  }
}
